*
{
  margin: 0;
} 

body{

  font-family: 'Roboto', sans-serif;
  
} 

 
.topbar
{

  width: 100%;
  height: 55px; 
  background-color: black;
  padding: 0px;

} 

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;

}

.logo-container{
  flex: 1;
}
.menu-container{
  flex: 6;
}
  .menu-list
  {
    display: flex;
    list-style: none;
  }

  .menu-list-item.active
  {
    font-weight: bolder;
  }

  .menu-list-item
  {
    margin-right: 30px;
  }

.profile-container{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

.profile-text-container
{
  margin: 0 20px;
}

.profile-picture
{
  
  width: 32px;
  height: 32px;
  border-radius: 60%;
  object-fit: cover;
}

.toggle
{
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon
{
  color: goldenrod;
}

.toggle-ball{
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar{
  background-color: black;
  width: 50px;
  height: 1000px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;
  


}

.left-menu-icon
{
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

.logo{
  font-size: 30px;
  font-family: 'Sen', sans-serif;
  color: #4dbf00;
  font-weight: bold;
  

}

.contain{
  background-color: #151515;
  min-height: 40vh;
  color: white;
  margin-left: 3.9%; 
  margin-top: 0%;
  
  
  
}

.content-container
{
  margin-left: 50px;
}

.featured-content
{
  height: 70vh;
  background-color: tomato;
  background-image: url(/src/assets/img/f-t-1.png);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), #151515);
  padding: 50px;
}

.featured-content2
{
  height: 60vh;
  background-image: url(/src/assets/img/f-2.jpg);
  background-image: lightgray;
  padding: 50px;
}

.featured-title
{
  width: 200px;
}

.featured-desk
{
  width: 500px;
  color: lightgray;
  margin: 30px 0 ;
}

.featured-button
{
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container
{
  padding: 0 125px;
  margin-top: 0%;
  background-color: black;
}

.movie-list-wrapper
{
  position: relative;

}
.movie-list-title
{
  font-size: 30px;
  font-weight: bold;
  padding-left: 150px;
  background-color: black;
  color: white;
}

.movie-list{
  display: flex;
  height: 300px;
  align-items: center;
}

.movie-list-item{
  margin-right: 35px;
  position: relative;
  
}

.movie-list-item:hover .movie-list-item-img{
 
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
  
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desk,
.movie-list-item:hover .movie-list-item-button
{
  opacity: 1;
}


.movie-list-item-img
{
  transition: all 1s ease-in-out;
  /* width: 400px;
  height:100px;
  padding: 10px; */
  max-width: 250px;
  margin: 0 auto;
  justify-items: center;
  border-radius: 20px;

}

.movie-list-item-title
{
  background-color: #333;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 60px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desk
{
  background-color: #333;
  padding: 10px;
  font-size: 12px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 200px;
   opacity: 0;
   transition: 1s all ease-in-out;
}


.movie-list-item-button
{
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border:none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow{

  font-size: 120px;
  position: absolute;
  top: 85px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.search-box
{
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  left: 55%;
  top: 4%
  

  
  
  
  
}

.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;

}
.search-btn
{
  color: #e84118;
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2f3640; 
   display: flex;
  justify-content: center;
  align-items: center;
  
 
  
  


}

.search-txt
{
  border:none;
  background:none;
  outline:none;
  float: right;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

.sicon{
  color: white;
  font-size: 30px;
}