@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.side_bar
{

    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
}

.main-content
{
    margin-left: 345px;


}

.sidebar-brand
{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}

.side_bar_menu1 li {
    width: 100%;
    margin-bottom: 1.5rem;
    padding-left: 2rem;

}

    .side_bar_menu1 a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.2rem;


} 


.side_bar_menu1 a span:first-child {
    font-size: 1.2rem;
    padding-right: 1rem;


} 

.side_bar_menu1 a.active{
    background: #fff;
    padding-top: 1rem;
    padding-top: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;


}

.side_bar_menu1{
    margin-top: 1rem;
}

.users_grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}